<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Tracker: Analytics</title>
    <!-- Latest compiled and minified CSS for Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">String Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('database') }}">Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('analytics') }}">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                </ul>
                <a class="nav-link disabled" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </nav>
    </header>

    <main class="container" role="main">
        <br>
        <center>
            <h1 class="mt-5">Analytics for the Current String</h1>
        </center>
        <p class="lead">
            <center>
                <b>Current Instrument Name</b><br>
                {% if current_instr_name == "" %}
                You don't have any instruments! Please add one.<br>
                {% else %}
                {{current_instr_name}}<br>
                {% endif %}

                <b>Current String Name</b><br>
                {% if current_str_name == "" %}
                You don't have any strings attached to your instrument! Please add one.<br>
                {% else %}
                <p id="h10">{{current_str_name}}</p>
                <br>
                {% endif %}
            </center>
        </p>
        <center>
            <b>Total Playtime (hours):</b> <br>{{total_playtime_hrs}}<br>
            <b>Average Cost Per Hour:</b> <br>${{avg_cost_hr}}<br>

        </center>
        <script>
            var a = "{{string_health}}";
            if (a == 3) {
                document.getElementById("h10").style.color = "green";
            }
            if (a == 2) {
                document.getElementById("h10").style.color = "yellow";
            }
            if (a == 1) {
                document.getElementById("h10").style.color = "red";
            }
        </script>

    </main>


    <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>