<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Tracker: Database</title>
    <!-- Latest compiled and minified CSS for Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <a href="{{ url_for('home') }}">Home</a><br>
                Database<br>
                <a href="{{ url_for('analytics') }}">Analytics</a><br>
                <a href="{{ url_for('settings') }}">Settings</a><br>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Add New Instrument
                </button>

                <div class="collapse" id="collapseExample">
                    <form method="POST" action="/database">
                        <b>Instrument Type:</b>
                        <select name="instr_type">
                            <option value="banjo">Banjo</option>
                            <option value="guitar">Guitar</option>
                            <option value="electric_bass">Electric Bass</option>
                            <option value="violin">Violin</option>
                            <option value="viola">Viola</option>
                            <option value="cello">Cello</option>
                            <option value="double_bass">Double Bass</option>
                            <option value="mandolin">Mandolin</option>
                            <option value="ukulele">Ukulele</option>
                            <option value="harp">Harp</option>
                            <option value="erhu">Er Hu</option>
                            <option value="guzheng">Gu Zheng</option>
                        </select><br>
                        <b>Name:</b> <input type="text" name="instr_name">
                        <br><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseButton" aria-expanded="false" aria-controls="collapseButton">
                            Add New Strings
                        </button>
                        <div class="collapse" id="collapseButton">
                            <form method="POST" action="">
                                <b>Name:</b> <input type="text" name="str_name"><br>
                                <b>Cost:</b> <input type="text" name="str_cost">
                                <br><br>
                                <input type="submit" value="Submit">
                            </form>

                        </div>
                    </div>

                </div>
                <br>
                {{curr_instr}}
                <form method="POST" action="/changeinstr">
                    <label for="instruments">Change Instruments:</label>
                    <select id="instruments" name="instruments">
                        {% for i in range(0, instr_names_len) %}
                        <option value="{{instr_names[i]}}">{{instr_names[i]}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

    <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>