<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Tracker: Profile</title>
    <!-- Latest compiled and minified CSS for Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">String Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('database') }}">Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('analytics') }}">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                </ul>
                <a class="nav-link disabled" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </nav>
        <span class="align-bottom">bottom</span>
        <center>
            <div style="height: 100px; background-color: rgba(255,0,0,0);">
            <div class="mh-100" style="width: 100px; height: 200px; background-color: rgba(0,0,0,0);">Max-height</div>
              </div>
                <div class="card">
                    <img src="img.jpg" alt="Profile Picture" style="width:100%">
                    <p></p>
                    <h1>{{curr_username}}</h1>
                    <p></p>
                    <h5>{{curr_email}}</h5>
                    <p></p>
                    {{signup_flash}}
                <p></p>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                    Change Password
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Enter your current password. Then, enter your new password and retype it to confirm the change. Lastly, click "Save Changes". </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/changePassword">
                                <div class="form-outline form-white mb-4">
                                    <input class="input is-large" type="password" name="curr_pass" placeholder="Current Password" autofocus="">
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input class="input is-large" type="password" name="new_pass" placeholder="New Password" autofocus="">
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input class="input is-large" type="password" name="new_pass_confirm" placeholder="Confirm New Password" autofocus="">
                                </div>
                                <button class="btn btn-secondary" data-toggle="popover" data-content="And here's some amazing content. It's very engaging. Right?" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
            </center>
    </header>



    <!-- Latest compiled and minified JavaScript for Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
