<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Tracker: Signup</title>
    <!-- Latest compiled and minified CSS for Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>

<body style="background-color:rgba(0, 255, 213, 0.322);">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
                    <p class="text-white-50 mb-5">Please enter your email, username, and password!</p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul id="flashes" class=flashes>
                        {% for message in messages %}
                             <li>{{ message }}</li>
                        {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="/signup">
                    <div class="form-outline form-white mb-4">
                        <input class="input is-large" type="text" name="email" placeholder="Email" autofocus="">
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input class="input is-large" type="password" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Signup</button>
                    </form>      
                  </div>
      
                  <div>
                    <p class="mb-0">Already have an account? <a href={{ url_for('login') }} class="text-white-50 fw-bold">Log in</a></p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>

</html>
